<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Result X</title>
  <!-- We can specify the folder of our css using url_for -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script type="text/javascript" , src="{{ url_for('static', filename='script/script.js') }}">
    // we can write javascript in here.
    // alert('This page is loading................')
  
    // or we can give here a link to js file

  </script>
</head>
<body>
  <h1><center>This is a form</center></h1>
  <form action="/submit" method="post">
    <div class="form-group">
      <label for="Data Structures">Data Structures:</label>
      <input type="text" id="datastructure" name="datastructure" class="form-control">
    </div>
    <br>
    <br>
    <div class="form-group">
      <label for="Linear Algebra">Linear Algebra:</label>
      <input type="text" id="linearalgebra" name="linearalgebra" class="form-control">
    </div>
    <br>
    <br>
    <div class="form-group">
      <label for="Statistics">Statistics:</label>
      <input type="text" id="statistics" name="statistics" class="form-control">
    </div>
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <p>If you click the "Submit" button, the form-data will be sent to a page called "/submit".</p>
  
</body>
</html>
